body {
    font-family: "Raleway", sans-serif;
    font-weight: normal;
}

header, main, footer {
    width: 1092px;
    margin: 0 auto;
    padding: 0;
}

header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    height: 293px;
    font-size: 18px;
}

header img {
    width: 148px;
    height: 105px;
    margin-top: 92px;
    margin-right: 10px;
}

header ul {
    display: flex;
    min-width: 391.48px;
    margin-top: 134px;
    margin-left: -8px;
    padding-left: 48px;
    text-transform: lowercase;
    list-style-type: circle;
}

header address, footer address {
    justify-self: end;
    max-width: 240px;
    line-height: 0;
    text-align: left;
}

header address {
    width: 240px;
    height: 98px;
    margin-top: 95px;
    margin-right: 50px;
    font-style: normal;
}

header address a,
header address p {
    display: block;
    margin: 0;
    padding: 0;
    color: black;
    line-height: 24.3px;
}

header ul li {
    margin-right: 30px;
    margin-left: 2px;
}

header ul li:first-child {
    list-style-type: none;
}

.underlined {
    color:black;
    text-decoration-thickness: 1.05px;
    text-underline-offset: 4px;
}


header ul li a:hover, 
address a:hover,
.description button:hover,
.lots a:hover,
.lots a h3:hover,
.see-more:hover,
footer a:hover {
    color:rgb(98, 0, 255);
}

a.active {
    color:black;
    text-decoration: none;
}

.cover-section {
    position: relative;
    min-width: 1100px;
    height: 757px;
    margin-left: -8px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: -137.5px;
}


.cover {
    position: relative;
    margin-left: 0;
    padding-left: 0;
}

.cover h1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 372px;
    font-weight: bold;
    text-transform: uppercase;
}

.cover-text {
    position: absolute;
    font-size: 100px;
    letter-spacing: 30px;
}

.cover-text:nth-child(1) {
    margin: 165px 764px 477px 50px;
}

.cover-text:nth-child(2) {
    margin: 300px 380.5px 342px;
}

.cover-text:nth-child(3) {
    margin: 435px 50px 207px 663px;
}

.overlay {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.cover,
.description {
    position: relative;
    z-index: 2;
    color: white;
}

.description {
    position: absolute;
    right: 50px;
    bottom: 50px;
    left: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.description p {
    width: 637px;
    margin: 0;
    font-weight: normal;
    font-size: 22px;
    text-transform: uppercase;
    word-spacing: 18.5px;
}

.description button {
    border: 1.2px solid white;
    padding: 12px 32px;
    color: white;
    font-family: "Raleway", sans-serif;
    font-weight: normal;
    font-size: 22px;
    text-transform: uppercase;
    background: transparent;
    cursor: pointer;
}

.lots h2 {
    margin-left: 33px;
    font-weight: bold;
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 33px;
}

.lots ul {
    display: flex;
    gap: 27px;
    margin-top: -7px;
    margin-bottom: 30px;
}

.lot-card a,
.lot-card p,
.lot-card h3 {
    position: relative;
    z-index: 2;
    color:white;
}

.lot-card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 334px;
    height: 596px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 543.5px 100%;
}

.underlined-lots {
    color:black;
    text-decoration-thickness: 1.05px;
    text-underline-offset: 3px;
}

.lots li {
    margin-left: -7px;
    margin-top: 1px;
    flex: 1;
    width: 334px;
    height: 596px;
    list-style-type: none;
}

.lots-section {
    margin-top: 180px;
    margin-right: 24px;
    margin-left: 24px;
}

.lot-card h3 {
    margin: 48px 40px 0;
    font-weight: bold;
    font-size: 22px;
    line-height: 120%;
    text-transform: uppercase;
}

.lot-card p {
    margin-right: 40px;
    margin-bottom: 48px;
    margin-left: 40px;
    font-size: 20px;
    line-height: 120%;
}

.card {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.see-more {
    display: inline-block;
    margin-top: 2px;
    margin-left: 33px;
    font-size: 20px;
    text-transform: lowercase;
}

.about {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 72px;
    height: 595px;
    margin: 120px 24px 25px 0px;
}

.about-text {
    margin-top: 99px;
}

.about h2 {
    margin-top: 46px;
    margin-left: 0px;
    font-weight: bold;
    font-size: 40px;
    line-height: 24px;
    text-transform: uppercase;
}

.about-text p {
    font-size: 20px;
    line-height: 24px;
}

.about-text p:first-child {
    margin: 112px 0 0 -3px;
}

.about-text p:last-of-type {
    margin-top: 25px;
    margin-left: -5x;
}

.icon {
    width:148px;
}

.icon-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 240px;
    margin-top: 35px;
    margin-left: 64px;
    border-radius:  50%;
    background-color: black;
}


footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 180px;
    margin-top: 120px;
    margin-bottom: 50px;
}

footer li {
    display: inline;
}

footer a {
    color:black;
}

footer nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.7px;
    margin: 3px 18px 0 0;
}

footer address {
    min-width: 260px;
    margin-top: 35px;
    margin-left: 42px;
    font-size: 18px;
    font-style: normal;
}

footer address a,
footer address p {
    display: block;
    margin: 0;
    padding: 0;
    color: black;
    line-height: 24.3px;
}

footer ul li a {
    font-size: 18px;
}

footer ul {
    display: flex;
    gap: 0px;
    text-transform: lowercase;
    list-style-type: none;
}

.social-media-icon:last-child {
    margin-right: 49px;
}

.social-media-icon {
    display: inline;
    justify-self: start;
    width: 48px;
    height: 48px;
    margin-top: -10px;
    margin-right: 0;
}